.cell {
    height: 4vw;
    width: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightskyblue;
}

.cell > .letter {
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.cell-input {
    border: none;
    width: 3.8vw;
    height: 3.8vw;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

.cell-input:hover {
    background-color: lightskyblue;
}

.shouldColor {
    background-color: yellow;
}