nav > ol {
    height: 180px;
    width: 100px;
    overflow: hidden;
    overflow-y: auto;
}

#result-list::-webkit-scrollbar {
    width: 10px;
}
#result-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px lightskyblue;
    border-radius: 10px;
}
#result-list::-webkit-scrollbar-thumb {
    background: lightskyblue;
    border-radius: 10px;
}
#result-list::-webkit-scrollbar-thumb:hover {
    background: deepskyblue;
}

.Item {
    display: flex;
    justify-content: flex-start;
}

.number {
    color: lightskyblue;
}

.word-list {
    display: flex;
    justify-content: center;
}

